body{
    background-color: cyan;
    
}

.Small_Pizza {
    background-color: #f8a5a9;
    text-align: center;
}
.medium-pizza{
    background-color: crimson;
    text-align: center;
}
.large-pizza{
    background-color:cadetblue ;
    text-align: center;
}
.Contacts{
    background-color: darkorange;
    text-align: center;
}
.social-m {
    text-align:center;
}